:root {
    --pr-color : #EFACDF;
}

body {
    font-family: 'Poppins, Press Start 2P', sans-serif;
    /* background-color: #DDDDDD; */
    background-image: url('../asset/img/Gradient.png');
    width: 100%;
    height: 100%;

}

.newjeans {
    font-family: 'Press Start 2P';
}
.navbar {
    z-index: 3;
    background-color: #F5EDDC;
    
    
}

* {
    z-index: 2;
}


.navbar-brand {
    font-weight: 600 !important;
    font-size: 20px;
    color: #25319C;
}

.nav-link{
    font-size: 16px;
    color: #25319C;

}

.nav-link.active{
font-weight: normal;
}

.btn-primary{
    width: 133px;
    height: 40px;
    background-color: #ffff;
    color: var(--pr-color);
    border: none;
    font-size: 16px;
    font-weight: 700;
}

/* Hero Section */

#hero {
    background-image: url('../asset/img/Gradient.png');
    /* background: linear-gradient(160deg, var(--pr-color), #B3C8F3) ; */
    height: 100vh;
    width: 100%;
}

img.hero{
    height: 100%;
}

.hero-tagline h1  {
    padding-bottom: 20px;
    color: #25319C;
    font-weight: 600;
    font-size: 50px;
    line-height: 72px;
    font-family: 'Press Start 2P';
}

.hero-tagline p {
    font-size: 16px;
    color: #25319C;
    margin-bottom: 60px;
    margin-top: 20px;
    line-height: 30px;
    width: 80%;
}

.btn-secondary {
    width: 150px;
    height: 50px;
    background-color: #707ce7;;
    border: none;
    font-size: 20px;
    font-weight:normal;
}

.btn-secondary :hover {
    transition: 2ms;
    background-color: #EFACDF;
    color: #EFACDF;
}

.container1{
    position: absolute;
    top: 14%;
    left: 37%;
    font-family:'Press Start 2P';
    color: #25319C;
    transform: translate(-10%, -50%);
}
.card{
    position: fixed;
    top: 200px;
    left: 40px;
}

.discount{
    font-size: 82%;
}

/* .card{
    position: fixed;
    top: 200px;
    left: 250px;
} */

/* parentZcontainer2{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
} */
.container2{
    width: 300px;
    height: 200px;
    text-align: center;
    position: absolute;
    top: 10%;
    left: 50px;
    transform: translate(-10%, -50%);
}
.container3{
    width: 300px;
    height: 200px;
    text-align: center;
    position: absolute;
    top: 80%;
    left: 40px;
    transform: translate(-20%, -0%);
}
.container4{
    width: 300px;
    height: 200px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 60%;
    transform: translate(-50%, -50%);
}